@font-face {
    font-family: 'mochi';
    src: url('../../assets/mochi.ttf');
}
  

#layout{
    padding: 20px;
    margin: 20px;
    height: 300px;
    display: flex;
    font-family: 'mochi', sans-serif;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}


#logo {
    height: 150px;
}

h1 {
    font-size: 3em;
    color: rgb(255, 225, 194);
    position: relative;
    -webkit-text-stroke: 0.2vw rgb(245, 203, 161);
    text-transform: uppercase;
    white-space: nowrap;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #53BCf2;
    -webkit-text-stroke: 0.1vw #40a5d8;
    border-right: 3px solid #53BCf2;
    overflow: hidden;
    animation: titre 6s linear infinite;
    white-space: nowrap;
}

@keyframes titre {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}


/*
h1 {
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;
    background: linear-gradient(90def, #f00, #ff0, #f0f, #03F, #f0c, #f00);  
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
} */

img {
    width: 70%;
}