<div id="layout">

    <div id="titre">
        <h1 data-text="Au bonheur des dentistes">Au bonheur des dentistes</h1>   
    </div>

    <div>
        <img src="../../assets/logo.png" alt="Logo de la boutique" id="logo">
    </div>

</div>