<div id="page">

    <div id="titre">
        <h2>Stocks</h2>
    </div>

    <div id="contenu">
        <table class="table">
            <thead>
                <tr>           
                <th>Nom</th>
                <th>Marque</th>
                <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of candy"> 
                <td>{{item.name}}</td>  
                <td>{{item.brand}}</td>  
                <td>{{item.stock}}</td> 
                </tr>           
            </tbody>
        </table>
    </div>

</div>

<div id="bouton">
    <a routerLink="/">Retour</a>
    <router-outlet></router-outlet>
</div>
