@font-face {
    font-family: 'mochi';
    src: url('../../assets/mochi.ttf');
}
  
#titre {
    height: 100px;
    font-family: 'mochi', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 30px;
}

#contenu { 
    padding: 20px;
    font-family: 'mochi', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#bouton {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    font-family: 'mochi', sans-serif;
    padding: 20px;
}

a {
    line-height: 100px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'mochi', sans-serif;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 90px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
}

a:hover {
    -webkit-animation: bouton 8s linear infinite;
    animation: bouton 8s linear infinite;
}

@keyframes bouton {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}


table {
    vertical-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-collapse: collapse;
    margin-bottom: 80px;
}

th {
    border-bottom: 2px solid black;
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

td {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

#page {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}