<div id="titre">
    <h2>Dashboard</h2>
</div>

<div id="contenu">
    
    <div class="ligne">
        <div class="widget">
            <app-widget-top></app-widget-top>
        </div>
        <div class="widget"></div>
            <app-widget-age></app-widget-age>
        </div>
    </div>

    <div class="ligne" id="bottom">
        <app-widget-marque></app-widget-marque>
        <app-widget-type></app-widget-type>
    </div>


<div id="bouton">
    <a routerLink="/">Retour</a>
    <router-outlet></router-outlet>
</div>