@font-face {
    font-family: 'mochi';
    src: url('../../assets/mochi.ttf');
}
  
#titre {
    height: 100px;
    font-family: 'mochi', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 30px;
}

#contenu { 
    text-justify: auto;
    font-family: 'mochi', sans-serif;
}

#bouton {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    font-family: 'mochi', sans-serif;
    padding: 20px;
}

a {
    line-height: 100px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'mochi', sans-serif;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 90px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
}

a:hover {
    -webkit-animation: bouton 8s linear infinite;
    animation: bouton 8s linear infinite;
}

@keyframes bouton {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.ligne {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.widget {
    margin: 30px;
}

#bottom {
    margin-bottom: 80px;
}
