@font-face {
    font-family: 'mochi';
    src: url('../../assets/mochi.ttf');
}

#boutons {
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
}

a {
    line-height: 100px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'mochi', sans-serif;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 90px;
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
}

a:hover {
    -webkit-animation: bouton 8s linear infinite;
    animation: bouton 8s linear infinite;
}

@keyframes bouton {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}