
table {
    vertical-align: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-collapse: collapse;
    margin-bottom: 80px;
}

th {
    border-bottom: 2px solid black;
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
}

td {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
}