<div id="widget">

    <div id="titre">
        <h2>Top 5 des bonbons vendus</h2>
    </div>

    <div id="contenu">
        <table class="table">
            <thead>
                <tr>           
                <th>Nom</th>
                <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of top"> 
                <td>{{item.nom}}</td>  
                <td>{{item.nombre}}</td>  
                </tr>           
            </tbody>
        </table>
    </div>

</div>